.DS_Store
__pycache__/demo.cpython-35.pyc
__pycache__/demo_commands.cpython-35.pyc
__pycache__/core.cpython-35.pyc
alignment.py
applications.csv
core.pyc
foreground_detection.scpt
css/.DS_Store
fonts/.DS_Store
js/.DS_Store
propbank.py
propbank2d4j/