<!DOCTYPE html>
<meta charset="utf-8" />
<html>
<head>
<!-- Google jQuery: <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/validation.js"></script>
</head>
<body>
	<h3>Iris</h3>
	<div>Your command: {{ user_input }}</div>
	<!-- if exactly matches 1 cmd -->
	{% if is_match %}
		{% if vals %}
		<div>Response: {{ vals }}</div>
		{% else %}
		<div>Done!</div>
		{% endif %}
	<!-- if confident in 1 cmd -->
	{% elif is_confident %}
	<h4>We predict you want to:</h4>
	<div>{{ cmd }}</div>
	<ul>
		{% for arg in args %}
		<li>What is {{ arg }}? <input type="text" name="arg"></li>
		{% endfor %}
	</ul>
	<input type="submit" name="args_submit">
	<!-- if unsure and displays top 3 cmds -->
	{% elif not is_confident %}
	<h4>Which of these do you want to do?</h4>	
	{% for cmd in cmds %}
	<ol>
		<!-- TODO: js allowing for selection onclick=fcn() to work, bc cmd == cmds[id]  .... not super necessary if can get li #.. not sure if can.-->
		<li id="{{loop.index0}}">{{ cmd }}</li>
	</ol>
	{% endfor %}
	<div>None of these</div> <!-- SHOW ONCE CHOSEN 'None of these' onclick=different_fcn() : <input type="text" name="other"><input type="submit" name=""> ... becomes another matching mess. Then tell user we haven't implemented it yet??????-->	
	{% else %}
	<div>ERROR</div>
	{% endif %}
</body>
</html>